<div class="grid-x grid-padding-x">
  <div class="cell">
    <a href="<%= menu_path %>">Вернуться на главное меню</a>
  </div>
  <div class="cell">
    <% form({method: :post}, {obj: @options}) do |f| %>
      <div class="grid grid-padding-x">
        <div class="cell">
          <%= f.input(:meaning_value, type: :select, label: "Веберите значение для слова", options: @word.meanings_values, add_blank: true) %>
        </div>
        <div class="cell">
          <%= f.button(value: "Перевести", class: "button") %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="cell">
    <% if @translations.size == 0 && !@value.nil? %>
      <p class="callout">
        Для этого слова ещё нет перевода
      </p>
    <% elsif @translations.size > 0%>
      <p>Слово <em><%= @word.name %></em> в значении <em><%= @value %></em> имеет следующие переводы:</p>
      <ol>
        <% @translations.each do |translation| %>
        <li>
          <strong><%= translation %></strong>
        </li>
        <% end %>
      </ol>
    <% end %>
  </div>
</div>