<div class="grid-x grid-margin-y">
  <div class="cell">
    <h3>Слово <%= @word.name %></h3>
    <ul class="menu">
      <li>
        <a class="button hollow" href="<%= path(@word, 'new_meaning') %>">Добавить новое значение для слова</a>
      </li>
      <li>
        <a class="button hollow" href="<%= path(@word, 'new_translation') %>">Добавить новый перевод для слова</a>
      </li>
      <li>
        <a class="button hollow" href="<%= path(@word, 'translation') %>">Перевод по значению</a>
      </li>
    </ul>
  </div>
  <div class="cell">
    <% if @word.translations? %>
      <h4>Все возможные переводы слова</h4>
      <ol>
        <% @word.meanings.each do |meaning| %>
          <li>В значении: <strong><%= meaning.value %></strong>
            <p>
              Ближашие синонимы:
              <% meaning.synonyms.each do |synonym| %>
                <%= synonym %>,
              <% end %>
            </p>
            Переводы:
            <ul>
              <% meaning.translations.each do |translation| %>
                <li><%= translation %></li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ol>
      <% else %>
    <p>
      На данный момент, перевод данного слово нам неизвестен
    </p>
    <% end %>
  </div>
</div>
