<div class="grid-x grid-padding-x">
  <div class="medium-10 cell">
    <h3>Транзитивные омониимы?</h3>
    <p class="callout secondary">
      Проверка на то, являются ли два слова <strong>"транзитивными омонимами"</strong>: их переводы омонимичны.
      Например, <em>«рука»</em> и <em>«оружие»</em> переводятся как «arm», поэтому они «транзитивные омонимы».
    </p>
    <% form({method: :post}, {obj: @options}) do |f| %>
      <div class="grid-x grid-padding-x">
        <div class="cell">
          <%= f.input(:word_name1, type: :text, label: "Первое слово", placeholder: "рука") %>
        </div>
        <div class="cell">
          <%= f.input(:word_name2, type: :text, label: "Второе слово", placeholder: "оружие") %>
        </div>
        <div class="cell">
          <%= f.button(value: "Проверить", class: "button") %>
          <a href="<%= menu_path %>" class="button">Отмена</a>
        </div>
      </div>
    <% end %>
  </div>
  <div class="medium-10 cell">
    <% if @options != {} && @options.success? %>
      <% if @errors.size > 0 %>
        <div class="callout warning">
          <ul>
            <% @errors.each do |error| %>
              <li><%= error %></li>
            <% end %>
          </ul>
        </div>
      <% else %>
        <% if @translation_homonyms %>
          Слова <b><%= @word1.name %></b> и <b><%= @word2.name %></b> являются транзитивными омонимами
        <% else %>
          Слова <b><%= @word1.name %></b> и <b><%= @word2.name %></b> не транзитивные омонимы
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>