<div class="grid-x grid-margin-x">
  <div class="cell medium-10">
    <div class="grid-x grid-padding-x">
      <div class="medium-4 cell">
        <h3>Меню</h3>
        <span>Выберите режим перевода</span>
      </div>
      <div class="medium-4 cell">
        <% form({method: :post}, {obj: @options}) do |f| %>
          <div class="grid-x grid-margin-x">
            <div class="cell">
              <%= f.input(:cur_lang, type: :radioset, label: 'Язык', options: LangValue.all_langs, selected: @cur_lang) %>
            </div>
            <div class="cell">
              <%= f.button(value: 'Переключить язык', class: 'button') %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="grid-x grid-padding-x">
      <div class="cell">
        <a class="button" href="<%= words_path %>">Начать перевод</a>
        <hr>
        <ul>
          <li>
            <a href="<%= words_path('new') %>">Добавить новое слово</a>
            <hr>
          </li>
          <li>
            <a href="<%= words_path('unknown_translations') %>">Просмотреть слова без перевода</a>
            <hr>
          </li>
          <li>
            <a class="" href="<%= words_path('translation_homonyms') %>">Проверка на омонимичность слов по переводу</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
