<div class="grid-x grid-padding-x">
  <div class="cell">
    <h4>Поиск перевода слова <em><%= @word.name.capitalize %></em> по значению</h4>
    <% form({method: :post}, {obj: @options}) do |f| %>
      <div class="grid-x grid-padding-x">
        <div class="medium-12 cell">
          <%= f.input(:meaning_value, type: :select, label: "Веберите значение для слова", options: @word.meanings_values) %>
        </div>
        <div class="cell medium-4">
          <%= f.button(value: "Перевести", class: "button") %>
          <a class="button" href="<%= path(@word) %>">Отмена</a>
        </div>
        <div class="medium-4 cell">
          <a class="button hollow" href="<%= path(@word, 'new_meaning') %>">Добавить новое значение для слова</a>
        </div>
      </div>
    <% end %>
  </div>
  <div class="cell">
    <% if @options != {} && @options.success? %>
      <% if @translations.size == 0 %>
        <p class="callout">
          Для этого слова ещё нет перевода
        </p>
      <% else %>
        <p>Слово <em><%= @word.name %></em> в значении <em><%= @value %></em> имеет следующие переводы:</p>
        <ol>
          <% @translations.each do |translation| %>
            <li>
              <strong><%= translation %></strong>
            </li>
          <% end %>
        </ol>
      <% end %>
    <% end %>
  </div>
</div>